---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__urls-wrapper {
	button {
	  height: 50px !important;
	  min-width: 100px !important;
	}
 }
 
 
 .toc__menu {
	/* hide sub sub links on small screens*/
	li > ul li {
	  display: block;
	}
 }
 
 
.notice--warning, .notice--danger, .notice--info, .notice--success, .notice--primary, .notice, .toc, .author__name {
	font-size: 1rem !important;
	@include breakpoint($large) {font-size: .8rem !important;}
 }

a.popup-modal {
	display: none;
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('/images/preloader.gif');
   background-repeat: no-repeat; 
   background-color: #f1f2f3;
   background-position: center;
	background-attachment: fixed;
}

#frame1 {
	display: block;
}

#frame2 {
	display: none;
}

#daysOfWar {
	color: red;
	font-weight: bolder;
	font-size:xx-large
}